# Data
data/*
!data/data_split

# Python
**/__pycache__/  

# WandB
wandb/

# Jupyter notebooks
**/*.ipynb_checkpoints
data_preprocessing_analysis/figures/

# Models
models/

# IDEs
.idea/misc.xml
.idea/*.iml
*.pyc
.spyproject
